@font-face {
    font-family: Inter;
    src: url(/res/fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}


:root {
    --base-1 : #0a638b;
    --base-2 : #1c5f7e;
    --base-3 : #2a5b72;
    --base-4 : #355665;
    --opossed-1 : #8b350a;
    --sibbling-1 : #8b350a;
    --sibbling-2 : #0a8b33;
    --adjunct-1 : #8b350a;
    --adjunct-2 : #8b750a;
    --adjunct-3 : #5e0a8b;
    --second-1 : #32b0cb;
    --second-2 : #4ba9be;
    --second-3 : #61a3b2;
    --second-4 : #739ca5;
    --third-1 : #a9bdcd;
    --third-2 : #82a4c0;
    --third-3 : #5f8eb4;
    --third-4 : #3e78a7;
}

html {
    height: 100%;
    line-height: 1.5rem;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 auto 1;
    color: #666;
    background: rgb(255,255,255);
    /*
    background: radial-gradient(circle, rgba(255,255,255,0) 72%, rgba(211,247,254,1) 100%);
    */
}

a {
    text-decoration: none;
    color: var(--third-3);
}

a:hover {
    color: var(--base-3);
}

.navbar {
    background-color: var(--base-1);
    color: var(--third-1);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9rem;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 780px;
    margin: auto;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.footer {
    background-color: var(--third-1);
    color: var(--base-4);
    display: flex;
    font-size: 0.7rem;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.column, .columns {
    position: relative;
    float: left;
    padding: 10px;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.one    { min-width: 8.333%; }
.two    { width: 16.666%; }
.three  { width: 25%; }
.four   { width: 33.333%; }
.five   { width: 41.666%; }
.six    { width: 50%; }
.seven  { width: 58.333%; }
.eight  { width: 66.666%; }
.nine   { width: 75%; }
.ten    { width: 83.333%; }
.eleven { width: 91.666%; }
.twelve { width: 100%; }

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
}

.navbar a {
    text-decoration: none;
    color: var(--third-1);
}

.navbar a:hover {
    color: var(--third-2);
}

.footer ul {
    list-style-type: none;
    margin-bottom: 0px;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left; }

.text-right {
    text-align: right;
}

h1, h2, h3, h4 {
    color: var(--base-3);
    margin-top: 2rem;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

.plot {
    font-family: Inter;
    width: 100%;
    width: calc(100% - 20px);
    height: calc((100vw - 20px) * 0.5625);
}

.table {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.table table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.9rem;
}

.table thead th {
    position: sticky;
top: 0;
}

.table th {
    background-color: var(--base-1);
    color: white;
}

.table tr:hover {
    background-color: var(--third-1);
}

.table td {

}

select, input {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

img:hover {
    transform: scale(1.01);
}
