<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{%title%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/res/css/style.css"/>
        {%head%}
    </head>
<body>
    <div>
      <nav class="navbar">
          <div class="six columns "><a href="/">CEMIF</a></div>
          <div class="six columns text-right">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/actualidad/">Actualidad</a></li>
                <li><a href="/temas/">Temas</a></li>
                <li><a href="/aprender/">Aprender</a></li>
                <li><input placeholder="Buscar"></li>
            </ul>
          </div>
      </nav>
    </div>
      <div class="container">
         {%body%}
         <div><small>Actualizado: {%date%}</small></div>
      </div>
     <div class="footer">
         <div class="four columns">
             <img src="/imgs/logo_cutted.png" width="100%">
         </div>
         <div class="four columns">
            <p>
              El Centro de Monitoreo e Incidencia Fiscal es una iniciativa de
              la Fundación Nacional para el Desarrollo, capítulo nacional de
              Transparencia Internacional.
            </p>
            <p>Contacto:<br/>
               Calle Arturo Ambrogi No. 411, San Salvador<br/>
               Tel. +503 2209-4300</p>
         </div>
         <div class="four columns">
             <ul>
                 <li><a href="/info/">Acerca de</a></li>
                 <li><a href="/info/equipo.html">Equipo</li>
                 <li>
                   <a href="/info/privacidad.html">Política de privacidad</a>
                 </li>
                 <li>
                    <a href="/info/licencia.html">Licencia y derechos de
                    autor</a>
                 </li>
             </ul>
        </div>
     </div>
</body>
</html>
