<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{%title%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/res/css/style.css"/>
        {%head%}
    </head>
<body>

    <div class="header">
        <div>
            <big>Centro de Monitoreo e Incidencia Fiscal</big>
        </div>
        <div class="right">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/analisis/">Análisis</a></li>
                <!--<li><a href="/temas/">Temas</a></li>-->
                <li><a href="/tutoriales/">Tutorial</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1>{%title%}</h1>
     {%body%}
     <div><small>{%date%}</small></div>
    </div>

    <div class="footer grid">
         <div class="four columns"><img src="/res/imgs/logo-second.png" width="100%"></div>
         <div class="four columns">
            <p>
              El Centro de Monitoreo e Incidencia Fiscal es una iniciativa de
              la Fundación Nacional para el Desarrollo, capítulo nacional de
              Transparencia Internacional.
            </p>
            <p>
               Calle Arturo Ambrogi No. 411, San Salvador<br/>
               Tel. +503 2209-4300</br>
               Correo: <a href="mailto:cemif@funde.org">cemif@funde.org</a>
            </p>
         </div>
         <div class="four columns">
             <ul>
                 <li><a href="/info/">Acerca de</a></li>
                 <!--<li><a href="/info/equipo.html">Equipo</li>-->
                 <li>
                   <a href="/info/privacidad.html">Política de privacidad</a>
                 </li>
                 <li>
                    <a href="/info/licencia.html">Licencia y derechos de
                    autor</a>
                 </li>
                 <li>
                     <a href="http://fiscal.funde.org:8080">
                         Sitio anterior
                     </a>
                 </li>
             </ul>
        </div>
    </div>
</body>
</html>
